// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers

@font-face {
  font-family: "SharpGrotesk-Book";
  src:
       font-url('SharpGrotesk-Book.woff') format('truetype')
}
$body-font: "SharpGrotesk-Book", "sans-serif";


@font-face {
  font-family: "SharpGrotesk-Medium";
  src:
       font-url('SharpGrotesk-Medium.woff') format('truetype')
}

$headers-font: "SharpGrotesk-Medium", "sans-serif";
