.show_main_picture {
    width: 100%;
    margin-bottom: 16px;
}

.show_farm_picture {
  width: 100px;
}

.side-card-header {
  border-bottom: 1px solid #d5d4d0;
  margin-bottom: 16px;
}

.side-card-header h2 {
  font-size: 34px;
}

.subtle-header {
  font-size:11px;
}

.side-card-header h3 {
  font-size: 20px;
}

.under_picture {
  border-top: 1px solid #d5d4d0;
  margin:0;
}

.prod-text {
  width:100%;
}

.side-card-body p {
  font-size: 16px;
  margin-bottom: 10px;
}

.side-card-body {
  border-bottom: 1px solid #d5d4d0;
}

.under_picture{
 margin-top: 22px;
}

.above_picture{
 margin-top: 22px;
}

#new_booking {
  margin-bottom: 10px;
}
