<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1498522271744-cdd435c13f24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1508&q=80);">
  <div class="container">
    <h1>Eat uglies, save the planet!</h1>
    <p>Direct from farmers - Delicious - Fair price</p>
    <%= link_to "Discover our products", "#", class: "banner-button" %>
  </div>
</div>
<br>
<br>
<div class="container">
<h2>What are uglies?</h2>

<div class="cards">
  <div class="card-category">
    <img src="https://cdn2.shopify.com/s/files/1/0021/1750/1026/t/10/assets/delicious.svg?708770">Always delicous
  </div>

   <div class="card-category">
    <img src="https://cdn2.shopify.com/s/files/1/0021/1750/1026/t/10/assets/delicious.svg?708770">A bit lumpy
  </div>

  <div class="card-category">
    <img src="https://cdn2.shopify.com/s/files/1/0021/1750/1026/t/10/assets/delicious.svg?708770">Too small
  </div>

    <div class="card-category">
    <img src="https://cdn2.shopify.com/s/files/1/0021/1750/1026/t/10/assets/delicious.svg?708770">Too big
  </div>

    <div class="card-category">
    <img src="https://cdn2.shopify.com/s/files/1/0021/1750/1026/t/10/assets/delicious.svg?708770">Some blemishes
  </div>

   <div class="card-category">
    <img src="https://cdn2.shopify.com/s/files/1/0021/1750/1026/t/10/assets/delicious.svg?708770">Not enough to sell
  </div>

  <div class="card-category">
    <img src="https://cdn2.shopify.com/s/files/1/0021/1750/1026/t/10/assets/delicious.svg?708770">Not yet ripe
  </div>

    <div class="card-category">
    <img src="https://cdn2.shopify.com/s/files/1/0021/1750/1026/t/10/assets/delicious.svg?708770">Too many
  </div>
</div>

 <br>

 <h2>Delicious products to save</h2>
 <br>
  <br>
 <div class="container">
<!-- <div class="row">
    <%# @wigs.each do |wig| %>
    <div class="col-sm-3">
       <%#= link_to wig_path(wig) do %>
      <div class="card-trip">
         <%#= cl_image_tag("#{wig.photo}", :transformation=>[:gravity=>"face"])%>
          <div class="card-trip-infos">
            <div>
              <h2 class="wig-title"><%#=wig.title.truncate(20)%></h2>
            <p><%#=wig.color.truncate(30)%></p>
          </div>
         <h2 class="card-trip-pricing"><%#=wig.price%>€</h2>
        </div>
      </div>
      <%# end %>
    </div>
   <%# end %>
   -->
   </div>
</div>
<br>
<br>
  </div>
 <%= render 'shared/footer' %>

