.card-request {
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 9px 0 rgba(139, 159, 196, 0.2);
  border-radius: 5px;
  display: flex;
  position: relative;
  margin-bottom: 16px;
  color: $gray;
}


.card-request a {
  color: $gray;
}

.card-request img {
  height: 100%;
  width: 120px;
  max-height: 122px;
  object-fit: cover;
}

.card-request-infos{
  color: $gray;
}


.card-request h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-request p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 7px;
  margin-top: 8px;
}

.card-request .card-request-infos {
  padding: 16px;
}


.grid-farmer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.card-farmer {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
}



.product-links {
 font-size: 13px;
 margin-top: 10px;
 margin-right: 4px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .grid-farmer {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .grid-farmer {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .grid-farmer  {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .grid-farmer  {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .grid-farmer  {
    grid-template-columns: 1fr 1fr;
  }
}
