.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,0.1);
  border-bottom-width: 1px;
  color: #FC5B55;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  z-index: 1001;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

.nav-link {
  color: #FC5B55;

}
