<form class="simple_form new_booking" id="new_booking" novalidate="novalidate" action="/products/1634/bookings" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="IAaUdssMbCa3/lg7LiiplkG5fLqmPc1fpJ2ybJYhqX7SPzCyczC7/itKzLCJzzSVHPKAY+KyX585DlXCaK/hhA==">
  <div class="form-row">
    <div class="col">
      <p> </p><div id="kg-order" class="form-group integer optional booking_quantity_in_kg"><label class="form-control-label integer optional" for="booking_quantity_in_kg">Quantity in kg</label><input class="form-control numeric integer optional" type="number" step="1" name="booking[quantity_in_kg]" id="booking_quantity_in_kg"></div><p></p>
    </div>
    <div class="col">
      <p></p><div id="del-option" class="form-group select optional booking_delivery_option"><label class="form-control-label select optional" for="booking_delivery_option">Delivery option</label><select class="form-control select optional" name="booking[delivery_option]" id="booking_delivery_option"><option value=""></option>
        <option value="Pick-up at the farm">Pick-up at the farm</option>
        <option value="Get delivered - 8€">Get delivered - 8€</option></select></div> <p></p>
      </div>
    </div>
    <p id="total-price">Total Price: 464</p>

    <input type="submit" name="commit" value="Order now" class="btn btn btn-flat" data-disable-with="Order now">
  </form>
